/*##################################################################################################*/
                                    /*CSS da página inicial*/
/*##################################################################################################*/
.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*em = fonte base, ou seja 2em é o dobro da fonte principal*/
    margin: 0 0 1em;
    clear: left; /*limpa as alterações que o float fez*/
    /*text-shadow: white; Adiciona sombra ao texto*/
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px; /* definição padrão para uma página */
    margin: 0 auto;
    /*box-shadow: inset 0 0 5px black; Adiciona sombra interna no elemento*/
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left; /*escolhe um espaço para a imagem e o texto fica do lado, a img fica flutuando*/
    margin: 0 20px 20px 0; /*cima - direita - baixo - esquerda*/
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888); /*criando um degrade, pode se alterar o sua inclinação com Xdeg no inicio*/ /*radial-gradient faz um degrade em circulo*/
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.beneficios{
    padding: 3em 0;
    background: #888888;
   /* box-shadow: inset 0 0 30px red; */
}
.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens-beneficio{
    line-height: 1.5;
}

.itens-beneficio:before{/*Bota um item antes do elemento desejado, ou depois com o AFTER*/
    content: "✭";
}

.itens-beneficio:first-child{
    font-weight: bold;
}/*PSEUDOELEMENTOS, escolha uma linha da lista para alterar algo sem criar uma classe, last-child, nth-child(nº linha) para altera mais de uma linha nth-child(2n) muda todos pares*/

.imagem-beneficios{
    width: 60%;
    /*opacity: 20%;*/
    box-shadow: 10px 10px 15px 0 black; /*DIREITA - BAIXO - BLUR - INTENSIDADE - COR */
    /*box-shadow: -10px -10px 15px 0 black; /*ESQUERDA - CIMA - BLUR - INTENSIDADE - COR */
}

.video{
    width: 560px;
    margin: 2em auto;
}

/* main p{ Pinta todos os paragrafos dentro do main de vermelho
    background: red;
}

main > p{Seleciona um paragrafo que esta depois da main e antes da section, ignorando os p dentro dela
    background: red; 
}

img + p{Seleciona somente o primeiro paragrafo dps da imagem(elemento âncora) para ficar azul 
    background: blue;
}

img ~ p{Seleciona todos os paragrafos dps da imagem(âncora) para ficarem amarelos
    background: yellow
} 

.principal p:not(#missao){Seleciona todos os paragrafos q n sejam o missao para ficarem laranjas
    background: orange;
} */

/*##################################################################################################*/
                                /*CSS da página do produto*/
/*##################################################################################################*/


body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{ /*ajeita o cabeçalho, para ficar harmonico o logo com o menu de navegação*/
    position: relative;    
    width: 940px;
    margin: 0 auto;
}

nav{ /* ajeita o menu de navegação, colocando ele no lugar desejado */
    position: absolute;
    top: 110px;
    right: 0px;
    
}
nav li{ /* altera o display dos itens da lista  */
    display: inline;
    margin: 0 0 0 15px;
}

nav a{  /* ajusta o estilo, tamanho, cor e afins dos itens da lista */
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    font-weight: bold; /* negrito */
    text-decoration: none; /* remove o link debaixo das palvras */
}

nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}
.produtos{  /* ajeita o formato da lista de produtos na pagina */
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{   /* ajusta o display juntamente com o seu alinhamento e centralização */
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /* Aqui se cria uma caixa para a borda */
    border: 2px solid black; /* Aqui se ajusta a borda, largura, tipo da linha e cor*/
    border-radius: 40px; /* Se usa para arredondar os cantos das bordas */
}

.produtos li:hover{ /* altera a cor da fonte quando o mouse passa por cima*/
    border-color: #C78C19;
}

.produtos li:active{ /* altera a cor da fonte com o clique do mouse*/
    border-color: #C78C19;
}

.produtos li:hover h2 { /* altera o tamanho da fonte, necessario ser assim pois a fonte ja tem tamanho definido */
    font-size:34px;
}

.produtos h2{   /* ajusta somente a estilização dos titulos de produtos */
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{ /* ajusta somente a estilização da descrição do produto */
    font-size: 18px;
}

.produto-preco{ /* ajusta somente a estilização do preço */
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url("/img/bg.jpg"); /* assim podemos adicionar uma imagem ao background de um pagina*/
    padding: 40px 0;
}

.copyright{
    color: white;
    font-size: 12px;
    margin: 20px 0 0;
}


/*##################################################################################################*/
                                /*CSS da página de contato*/
/*##################################################################################################*/


main{

}

form{
    margin: 40px 0px;
}

form label, form legend{ /* usando a virgula podemos agrupar objetos que queremos o mesmo design */
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;  /* 0 para cima, 0 para os lados, 20 para baixo */
    padding: 10px 25px; /* 10 para cima e baixo, 25 para os lados */
    width: 50%;
}

.checkbox{
    margin: 20px 0; /* 20 para cima e pra baixo*/ 
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border:none;
    border-radius: 15px;
    transition: 1s all; /*usada na transição, 1 segundo de demora e muda tudo no formulário*/
    cursor:pointer; /*Transformar o cursor na mãozinha, quando esta em cima do item*/
}

.enviar:hover{
    background:darkorange;
    transform: scale(1.2); /*aumenta tudo em 20%*/
    /*transform:rotate(70deg); gira em 70 graus o item */
}

table {
    margin:20px 0 40px; /*20px pra cima, 0 pros lados, 40px pra baixo */
}

thead { 
    background: #555555;
    color:white;
    font-weight: bold;
}

td, th{
    border:1px solid #000000;
    padding: 8px 15px; /*8px para cima e para baixo, 15px para os lados*/
}